body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFAD9;
}

.container {
    max-width: 440px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Estilização do perfil */
.profile-header {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.profile-image {
    position: relative;
    display: inline-block;
}

.profile-image img:first-child {
    width: 100px;
    height: 100px;
}

.white-circle {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 0;
    right: 0;
}

.icon-photo {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 10px;
    right: 10px;
}

.profile-header h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.profile-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-item {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.profile-item img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.profile-item p {
    font-size: 16px;
    margin: 0;
}

.delete-account {
    color: red;
    background-color: #FFDADA;
}

.footer {
    display: flex;
    justify-content: space-around; /* Distribui os ícones igualmente */
    align-items: center;
    padding: 15px 0;
    background-color: #FFFAD9;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 70px; /* Mantém uma altura confortável */
}

.footer-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 440px; /* Mantém o alinhamento adequado */
}

.footer-icons img {
    width: 30px; /* Tamanho dos ícones */
    height: 30px;
}
