/* Fonte global */
body {
    font-family: 'Poppins', sans-serif;
}

/* Limitador da tela */
.app-container {
    width: 100%;
    max-width: 440px;
    height: 100vh;
    min-height: 860px;
    background-color: #FBEEC1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Título */
.titulo {
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 20px; /* Alinhando à esquerda */
    align-self: flex-start;
}

/* Imagem de Consultas */
.consultas-container {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Ajuste fino na altura */
}

.consultas-img {
    width: 100%;
    max-width: 380px;
    height: auto;
}

/* Botão */
.consulta-btn {
    width: 80%;
    max-width: 380px;
    background-color: #7D1FFF;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 20px; /* Espaço entre imagem e botão */
    margin-bottom: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

/* Estilo do footer */
.footer {
    width: 100%;
    max-width: 440px;
    background-color: white;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

.footer-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 400px;
}

.footer-icons img {
    width: 30px;
    height: auto;
}
