body {
    font-family: 'Poppins', sans-serif;
    background-color: #FBEEC1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 440px;
    height: 100vh;
    background-color: #FBEEC1;
    padding: 20px;
    box-sizing: border-box;
}

.consulta-title {
    margin-top: 30px; /* Aumentei o espaço acima do título */
    margin-bottom: 50px; /* Maior distância entre título e card */
    font-size: 22px;
    font-weight: bold;
}

.mapa-container {
    position: relative;
    width: 100%;
    max-width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; /* Mover o card para baixo */
}

.mapa-card {
    width: 100%;
    border-radius: 15px;
    position: absolute;
}

.mapa-img {
    width: 90%;
    position: relative;
}

.consulta-btn {
    margin-bottom: 40px; /* Aumentei o espaço entre botão e footer */
    background-color: #8A2BE2;
    color: white;
    border: none;
    padding: 18px 50px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 90%;
    max-width: 300px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 440px;
    background-color: #FFF8DC;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 400px;
}

.footer-icons img {
    width: 35px;
    height: 35px;
}
