body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFF8DC; /* Cor do footer agora também no fundo total */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 440px; /* Limite da tela */
    height: 100vh; /* Ocupa toda a altura da tela */
    background-color: #FBEEC1; /* Parte amarelada limitada */
    padding: 20px;
    box-sizing: border-box;
}

.consulta-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
}

.consulta-card {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    width: 100%;
    border-radius: 15px;
}

.consulta-btn {
    margin-top: 40px; /* Aumentado para descer mais */
    background-color: #8A2BE2;
    color: white;
    border: none;
    padding: 18px 50px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 90%;
    max-width: 300px;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 440px; /* Limite do footer */
    background-color: #FFF8DC; /* Cor corrigida */
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 400px;
}

.footer-icons img {
    width: 35px;
    height: 35px;
}
