/* Fundo da página */
body {
    background-color: #FFFAD9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container principal */
.container {
    width: 440px;
    height: 956px;
    background-color: #FFFAD9;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Vetor no fundo */
#vector1 {
    width: 100%;
    position: absolute;
    bottom: 0;
}


/* Card com fundo de blur */
.card {
    font-family: 'Poppins', sans-serif;
    width: 90%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


/* Título */
h1 {
    font-size: 24px;
    color: #544864;
    font-weight: bold;  
}

/* Botão de login */
.login-btn {
    width: 100%;
    padding: 15px;
    background-color: #6E2BFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(110, 43, 255, 0.3);
}

/* Botão do Google */
.google-btn {
    font-family: 'Poppins', sans-serif; /* Garante que o botão use a fonte correta */
    width: 100%;
    padding: 12px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 15px;
    border: none;
    margin-top: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px; /* Mantém a leitura clara */
    font-weight: 600; /* Deixa o texto mais destacado */
}


.google-btn img {
    width: 20px;
}

/* Texto de cadastro */
.register-text {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.bold {
    font-weight: bold;
}
