/* Centraliza a tela e define fundo */
body {
    background-color: #FFFAD9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container principal com o tamanho exato */
.container {
    width: 440px;
    height: 956px;
    background-color: #FFFAD9;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Vetor no fundo */
#vector1 {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Área do texto "Mais" e "Vita" */
.text-container {
    width: 100%;
    display: flex;
    align-items: flex-end; /* Faz "Vita" ficar mais abaixo */
    justify-content: flex-start; /* Alinha à esquerda */
    position: absolute;
    top: 30%;
    left: 10%; /* Move um pouco para a direita */
    gap: 5px; /* Controla a distância entre "Mais" e "Vita" */
}

/* "Mais" */
#logo1 {
    width: 150px; /* Ajuste conforme necessário */
}

/* "Vita" */
h2 {
    font-family:  "Dancing Script", cursive;
    font-size: 35px;
    color: #333;
    font-style: italic;
    margin: 10px 0 0 0; /* Adiciona um espaçamento superior */
}

